input {
  border: 1px solid blue;
  border-radius: 5px;
  width: 150px;
  height: 20px;
}
button {
  width: 85px;
  margin-top: 15px;
}
.fan {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
